<!-- entry template -->

<div class="entry" data-id="">

  <div class="entry-meta">
    <div class="status">
      <span class="date"></span>
      <div class="sendfile hidden">
        <span class="saving">Saving...</span>
        <progress class="progress" value="0" min="0" max="100">0%</progress>
      </div>
      <div class="savetext">
        <span class="saving hidden">Saving...</span>
        <span class="saved hidden">Saved</span>
      </div>
    </div>
    <div class="delete">
      Delete
    </div>
    <div class="destroyCancel hidden">
      <span class="destroy">Destroy</span> / <span class="cancel">Cancel</span>
    </div>
    <div class="btn-newFile"></div>
  </div>

  <br>

  <div class="entryEditor">

    <!-- !! server to eval on load whether image present or not and adjust classes display accordingly -->
    <div class="fileContainer">
        <form method="post" action="/" enctype="multipart/form-data">
          <input class="input hidden" id="input" type="file" accept="image/gif, image/jpeg, image/png">
        </form>
        <div class="file hidden">
          <img class="cover" src="">
          <div class="fileSizeError">
            <p>Eep! Your image is larger than 15mb</p>
            <p>Please try again with something smaller.</p>
          </div>
        </div>
    </div>

    <!-- title -->
    <textarea class="title" autocomplete="off" placeholder="Type your title"></textarea>

    <!-- file -->


    <!-- content -->
    <textarea class="content transition" autocomplete="off" placeholder="Type your content"></textarea>

  </div>

</div>
