/* install fancy grunt watch thing for vendor prefix free */

.entry {
  width: 400px;
}

[contenteditable="true"] {
  background-color: lightgrey;
}

[contenteditable="true"]:hover {
  background-color: rgb(233, 233, 233);
}

[contenteditable="true"]:focus {
  outline: none;
}

.entriesList li:hover , .temps:hover{
  text-decoration: underline;
  cursor: pointer;
}

.newEntry {
  color: #5200AE;
  font-weight: bold;
}