/* install fancy grunt watch thing for vendor prefix free */

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.title, .content {
    background-color: #FAE0F5;
    width: 400px;
    outline-width:0;
    min-height: 20px;
    border: 0;
    line-height: 32px;
}

.title:focus, .content:focus {
  outline: none;
}

.entriesList li:hover , .temps:hover, .newEntry{
  text-decoration: underline;
  cursor: pointer;
}

.newEntry {
  color: #5200AE;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* .title :empty:before {
  content:"placeholder";
  color: grey;
}
 */
 

.status {
  color: grey;
  font-size: 12px;
}

.done {
  background-color: #5200AE;
  color: white;
  display: inline-block;
  padding: 5px;
}

.done:hover {
  cursor: pointer;
}

.remove {
  color: #F08C8C;
  cursor: pointer;
}

.cancel {
  color: #5215AB;
  cursor: pointer;
}

.destroy:hover, .cancel:hover, .delete:hover {
  text-decoration: underline;
}