/* install fancy grunt watch thing for vendor prefix free */

.hidden {
  display: none !important;
}

.transition {
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

.metome {
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.title, .content {
  background-color: transparent;
  width: 100%;
  outline-width:0;
  border: 0;
  overflow: hidden;
  resize: none;
  font-family: Times, serif;
}

.title {
  font-size: 24px;
  height: 30px;
}

.content {
  font-size: 16px;
  height: 100%;
  word-wrap: break-word;
  min-height: 400px
}

.title:focus, .content:focus {
  outline: none;
}

.cover {
  margin-bottom: 10px;
  background-position: center center;
  max-width: 666px;
  max-height: 666px;
}

.entriesList {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 666px;
}

li {}

.entriesList li:hover , .temps:hover, .newEntry{
  text-decoration: underline;
  cursor: pointer;
}

.newEntry {
  color: #5200AE;
  font-weight: bold;
  display: inline-block;
}

.status {
  color: grey;
  font-size: 12px;
}

.delete {
  display: inline;
}

.destroy {
  color: #F08C8C;
}

.cancel {
  color: #5215AB;
}

.destroy:hover, .cancel:hover, .delete:hover {
  text-decoration: underline;
  cursor: pointer;
}

.entry {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 666px;
  position: relative;
}


/* --- show/upload file section --- */


.fileContainer {
  position: relative;
  clear: both;
  margin-top: 50px;
  margin-bottom: 55px;
}

.withImage {
  margin-top: 50px;
  margin-bottom: 55px;
}

.file img {
  max-height: 666px;
  max-width: 666px;
}

.assetPreloader {
  position: absolute;
  height: 0px;
  width: 0px;
  background: url('assets/sendFile.svg'), url('assets/sendFile-hover.svg'), url('assets/replaceFile.svg'), url('assets/replaceFile-hover.svg');
}

.sendFile {
  background-image: url('assets/sendFile.svg');
  background-repeat: no-repeat;
  width: 34px;
  height: 22px;
  cursor: pointer;
  padding-right: 10px;
}

.sendFile:hover {
  background-image: url('assets/sendFile-hover.svg');
}

.replaceFile {
  background-image: url('assets/replaceFile.svg');
  position: absolute;
  /* left inherited from script l~220 */
}

.replaceFile:hover {
  background-image: url('assets/replaceFile-hover.svg');
}


progress {
  width: 60px;
  height: 7px;
  margin-left: 10px;
  padding-bottom: 12px
}
















